{% extends "base.html" %}

{% block content %}
		<form>
			<input type="search" id="search" name="q" value="{% if query %}{{ query }}{% endif %}" />
			<input type="submit" value="Search" />
		</form>
		{% if results %}
			<p>{{ time }}</p>

			<hr>

			{% for doc in results %}
				<h3><a href="{{ doc.url }}">{{ doc.title }}</a></h3>
				<p>{{ doc.snippet | safe }}</p>
			{% endfor %}
		{% else %}
			{% if query %}
				<h3>No results found. :(</h3>
			{% else %}
				<p><a href="/stats">Statistics</a> | <a href="https://github.com/frc4533-lincoln/mini-search">Source code</a></p>
			{% endif %}
		{% endif %}
{% endblock content %}
